.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    width: 42.5%;  
}

@media screen and (max-width: 1366px) {
    .questions {
        width: 60%;
    }
}
